@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}
.search-wrapper
{
    position: absolute;
    border: .2rem solid rgb(0, 0, 0);
    inset: 0;
    margin: 2rem auto auto auto;
    width: clamp(10rem, 60vw, 20rem);
    height: clamp(15rem, 30vh, 120rem);
}
.search-wrapper form
{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.search-wrapper form input
{
    width: 60%;
    height: clamp(1rem, 10vh, 3rem);
    transition: .1s;
    border: .1rem solid black;
    border-radius: .7rem;
}

.search-wrapper form input::placeholder
{
    text-align: center;
}
.search-wrapper form input[type="text"]:hover
{
    background-color: rgb(160, 169, 177);
    transition: .1s;
    font-size: 1rem;
}
.search-wrapper form input[type="submit"]
{
    cursor: pointer;
}
.search-wrapper form input[type="submit"]:hover
{
    font-size: 1rem;
    transition: .1s;
}

.pokemon-found-wrapper
{
    border-block: .2rem solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: clamp(10rem, 60vw, 20rem);
    height: fit-content;
    visibility: collapse;
}
.pokemon-found
{
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 1rem;
    height: 2.4rem;
    width: clamp(10rem, 60vw, 20rem);
    background-color: rgb(226, 223, 223);
    transition: .2s;
}
.pokemon-found:hover
{
    font-size: 1.5rem;
    transition: .4s;
    background-color: rgb(192, 191, 191);
}
.pokemon-found.locked
{
    background-color: rgb(66, 65, 65);
}

.selected-pokemon
{
    display: flex;
    flex-direction: column;

    font-size: clamp(1rem, 5vw, 2rem);
}
.clear-button
{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;

    width: clamp(2.5rem, 6vh, 3rem);
    height: clamp(2.5rem, 6vh, 3rem);
    border-radius: .5rem;
    border: .1rem solid black;
    transition: .3s;

}
.clear-button:hover
{
    width: clamp(2rem, 10vh, 3rem);
    height: clamp(2rem, 10vh, 3rem);
    transition: .3s;
    background-color: rgb(75, 127, 167);
}
.locked-section
{
    position: fixed;
    right: clamp(.4rem, 5vw, 50rem);
    top: 3rem;
}

.lock-icon
{
    font-size: clamp(1.4rem, 10vh, 3rem);
}

.scroll-into-view
{
    position: fixed;
    top: 35%;
    left: clamp(1rem, 4vw, 5rem);
    width: clamp(3rem, 10vw, 6rem);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border-radius: .4rem;
    box-shadow: .4rem .4rem .6rem .3rem;
    background-color: #eecb57;
}

.scroll-into-view ion-icon
{
    position: absolute;
    inset: 0;
    margin: auto;
    font-size: clamp(1rem, 2vw, 3rem);
}